<div>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">CART</h1>
    </div>
  </section>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              @for (product of cartItems | async; track product.id) {
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    min="0"
                    [formControl]="getFormControl(product.id)"
                  />
                </td>
                <td class="text-right">
                  {{ product.price * product.quantity | currency }}
                </td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="removeItem(product.id)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              }
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Grand total</strong></td>
                <td class="text-right">
                  <strong>{{ grandTotal | currency }}</strong>
                </td>
              </tr>
              <tr>
                <td colspan="5"></td>
                <td class="text-right">
                  <form [formGroup]="discountForm" (ngSubmit)="applyDiscount()">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter coupon code"
                      formControlName="discountCode"
                    />
                    @if (discountError) {
                    <div class="text-danger">
                      {{ discountError }}
                    </div>
                    } @if (discountSuccessMessage) {
                    <div class="text-success">
                      {{ discountSuccessMessage }}
                      <button
                        class="btn btn-link p-0 ml-2"
                        (click)="cancelDiscount()"
                        aria-label="Cancel Discount"
                        type="button"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    }
                    <button
                      class="btn btn-primary btn-sm coupon-btn"
                      type="submit"
                      [disabled]="
                        discountApplied ||
                        discountForm.get('discountCode')?.invalid
                      "
                    >
                      Apply Coupon
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <a routerLink="/" class="btn btn-block btn-light"
              >Continue Shopping</a
            >
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button class="btn btn-lg btn-block btn-success text-uppercase">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
